@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #28282b !important;
}

/* For Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #e6e6e6 transparent;
}

/* For Chrome, Safari, and Edge */
*::-webkit-scrollbar {
	width: 3px;
}
*::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
	background-color: #e6e6e6; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid #e6e6e6; /* creates padding around scroll thumb */
}

html {
	scroll-behavior: smooth;
}
